@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  color: white;
}

.bg {
  background-color: #1a1919;
}

/*

  --Components--

  navbar

  mainBtn
  activeBtn

  questionInput
  questionSubmit

  playerAnswer
  playerScore

  playerCard

  winner

  --Utility Classes--

  wrapper

  fontSizelarge
  fontSizeMedium
  fontSizeSmall

  gapSize
  gapSizeSmall

*/
.navbar {
  background-color: #189e71;
  position: fixed;
  width: 102vw;
  height: 4.75rem;
  left: -1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid black;
  -webkit-box-shadow: 0 1px 5px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 5px 5px rgba(0, 0, 0, 0.3);
}

.navbar:hover {
  cursor: pointer;
}

.mainBtn {
  width: 13ch;
  height: 7ch;
  border-radius: 0.75rem;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #189e71;
  -webkit-box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.8), 0 0 0 #189e71 inset;
          box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.8), 0 0 0 #189e71 inset;
  outline: 1px solid rgba(0, 0, 0, 0.6);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.activeBtn {
  background-color: #189e71;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  border: 2px solid rgba(0, 0, 0, 0.6);
  outline: 1px solid rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0.1rem 0.1rem 0.4rem black, 0 0 0 5rem #189e71 inset;
          box-shadow: 0.1rem 0.1rem 0.4rem black, 0 0 0 5rem #189e71 inset;
}

.questionInput {
  width: 25ch;
  height: 7ch;
  padding-left: 1rem;
  border-radius: 0.5rem;
  border: 2px solid #189e71;
  outline: 1px solid black;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  -webkit-box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.8), 0 0 0 #189e71 inset;
          box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.8), 0 0 0 #189e71 inset;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.questionInput:focus {
  background-color: #189e71;
  border: 2px solid black;
  -webkit-box-shadow: 0.1rem 0.1rem 0.4rem black, 15rem 0 0 #189e71 inset;
          box-shadow: 0.1rem 0.1rem 0.4rem black, 15rem 0 0 #189e71 inset;
}

.questionInput::-webkit-input-placeholder {
  color: white;
  opacity: .3;
  font-style: italic;
}

.questionInput:-ms-input-placeholder {
  color: white;
  opacity: .3;
  font-style: italic;
}

.questionInput::-ms-input-placeholder {
  color: white;
  opacity: .3;
  font-style: italic;
}

.questionInput::placeholder {
  color: white;
  opacity: .3;
  font-style: italic;
}

.questionInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.questionSubmit {
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: 2px solid #189e71;
  outline: 1px solid black;
  background-color: #189e71;
  width: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.8);
          box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.8);
}

.playerAnswer,
.playerScore {
  background-color: rgba(255, 255, 255, 0.2);
  width: 80%;
  outline: 2px solid #189e71;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.8);
          box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.8);
}

.playerAnswer .name,
.playerScore .name {
  font-weight: bold;
}

.playerAnswer p,
.playerScore p {
  padding: 0.5rem;
}

.playerCard .pc-lobby {
  border-radius: 0.25rem 1.5rem 0.25rem 1.5rem;
  -webkit-box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.8);
          box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.8);
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #189e71;
}

.playerCard .pc-lobby .pc-lobby-name {
  background-color: rgba(21, 136, 97, 0.6);
  width: 80%;
}

.playerCard .pc-lobby .pc-lobby-name.self {
  background-color: rgba(31, 202, 145, 0.6);
}

.playerCard .pc-lobby.self {
  background-color: rgba(255, 255, 255, 0.3);
}

.playerCard .pc-answers-name {
  background-color: #189e71;
  border-bottom: 2px solid #1a1919;
}

.playerCard .pc-answers-name.self {
  background-color: #25dea0;
}

.playerCard .pc-answers {
  border: 2px solid #189e71;
  border-radius: 0.25rem 1.5rem 0.25rem 1.5rem;
  -webkit-box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.8);
          box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.8);
  background-color: rgba(255, 255, 255, 0.2);
}

.playerCard .pc-answers.self {
  background-color: rgba(255, 255, 255, 0.3);
  border: 2px solid #25dea0;
}

.winner.first {
  background-color: #f1ba23;
  width: 100%;
  font-size: 1.75rem;
  margin-inline: 1rem;
}

.winner.second {
  background-color: #999ea3;
  width: 90%;
  font-size: 1.5rem;
}

.winner.third {
  background-color: #b1715d;
  width: 90%;
  font-size: 1.25rem;
}

.winner.loser {
  width: 90%;
}

.winnerFont {
  font-size: 1.75rem;
  font-family: "Merienda";
  /* font-style: italic; */
  font-weight: bold;
  color: #f1ba23;
}

.firstPlace {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 2px;
}

.firstMedal {
  color: #f1ba23;
}

.secondPlace {
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 2px;
}

.secondMedal {
  color: #999ea3;
}

.thirdPlace {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 40px;
}

.thirdMedal {
  color: #b1715d;
}

.exit-button {
  z-index: 2;
  /* width: 1000px; */
}

.wrapper {
  width: Min(95vw, 50rem);
}

.fontSizeLarge {
  font-size: calc(1.25rem + 1vw);
}

.fontSizeMedium {
  font-size: calc(1rem + 0.75vw);
}

.fontSizeSmall {
  font-size: calc(0.75rem + 0.5vw);
}

.gapSize {
  gap: calc(-5px + 4vw);
}

.gapSizeSmall {
  gap: calc(-5px + 2vw);
}
/*# sourceMappingURL=globals.css.map */