@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding:0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  color: white;
  // font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

$base-color: #1a1919;
// $secondary-color: #b31973;
// $secondary-color: #b31973;
// $secondary-color: #1d95b9;
// $secondary-color: #e6d11b;
$secondary-color: #189e71;
// $secondary-color: #a2c918;
// $secondary-color: #2c086d;
$invisible-color: rgba($secondary-color, 0);
$tertiary-color: rgba(white, 0.2);
$lightened-tertiary-color: rgba(white, 0.3);

.bg {
  // background: radial-gradient(ellipse at top, lighten($base-color, 1%), $base-color )
  background-color: $base-color;
}

$shadow: 0.5rem 0.5rem 0.5rem rgba(black, 0.8);
$shadowClose: 0.1rem 0.1rem 0.4rem rgba(black, 1);
$inset1: 0 0 0 $secondary-color inset;
$inset2: 0 0 0 5rem $secondary-color inset;
$inset3: 15rem 0 0 $secondary-color inset;

/*

  --Components--

  navbar

  mainBtn
  mcqBtn
  activeBtn

  questionInput
  questionSubmit

  playerAnswer
  playerScore

  playerCard

  winner

  --Utility Classes--

  wrapper

  fontSizelarge
  fontSizeMedium
  fontSizeSmall
  answerFont

  gapSize
  gapSizeSmall

  --Animations--

  buttonDown
  createBtnAnim

*/

.navbar {
  background-color: $secondary-color;
  position: fixed;
  width: 102vw;
  height: 4.75rem;
  left:-1vw;
  display:flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid black;
  box-shadow: 0 1px 5px 5px rgba(black, 0.3);
  z-index: 10;
  &:hover {
    cursor: pointer;
  }
}

.mainBtn {
  width: 13ch;
  height: 7ch;
  border-radius: 0.75rem;
  background-color: $tertiary-color;
  border: 2px solid $secondary-color;
  box-shadow: $shadow, $inset1;
  outline: 1px solid rgba(black, 0.6);
  transition: all 0.3s;
  &.buttonDrop {
    animation: buttonDrop .5s ease-in-out;
  }
}

.mcqBtn {
  width: 100%;
  height: 100%;
  border-radius: 0.75rem;
  background-color: $tertiary-color;
  border: 2px solid $secondary-color;
  box-shadow: $shadow;
  outline: 1px solid rgba(black, 0.6);
  transition: all 0.5s;
}

.activeBtn {
  background-color: $secondary-color;
  transition: all 0.7s;
  border: 2px solid rgba(black, 0.6);
  box-shadow: $shadowClose, $inset2;
}

.createBtn {
  position: relative;
  width: 13ch;
  height: 5ch;
  border-radius: 0.75rem;
  border: 5px solid $secondary-color;
  background-color: $tertiary-color;
  box-shadow: 0 0 0 5rem $secondary-color inset;
  outline: 2px solid rgba(black, 0.4);
  &.createBtnAnim {
    animation: createBtnAnim 25s linear;
  }
}


.questionInput {
  width: 25ch;
  height: 7ch;
  padding-left: 1rem;
  border-radius: 0.5rem;
  border: 2px solid $secondary-color;
  outline: 1px solid black;
  background-color: $tertiary-color;
  color: white;
  &:focus {
    background-color: $secondary-color;
    border: 2px solid black;
    box-shadow: $shadowClose, $inset3;
  }
  &::placeholder {
    color: white;
    opacity: .3;
    font-style: italic;
  }
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  box-shadow: $shadow, $inset1;
  transition: all 0.6s;
}

.questionSubmit {
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: 2px solid $secondary-color;
  outline: 1px solid black;
  background-color: $secondary-color;
  width: 50%;
  align-self: center;
  box-shadow: $shadow;
}

.playerAnswer,
.playerScore {
  background-color: $tertiary-color;
  width: 80%;
  outline: 2px solid $secondary-color;
  border-radius: 1rem;
  display:flex;
  justify-content: space-between;
  box-shadow: $shadow;
  .name {
    font-weight: bold;
  }
  p {
    padding: 0.5rem;
  }
}

.playerCard {
  .pc-lobby {
    border-radius: 0.25rem 1.5rem 0.25rem 1.5rem;
    box-shadow: $shadow;
    background-color: $tertiary-color;
    border: 2px solid $secondary-color;
    .pc-lobby-name {
      background-color: darken(rgba($secondary-color, 0.6), 5%);
      width: 80%;
      &.self {
        background-color: lighten(rgba($secondary-color, 0.6), 10%);
      }
    }
    &.self {
      background-color: $lightened-tertiary-color;
    }
  }
  .pc-answers-name {
    background-color: $secondary-color;
    border-bottom: 2px solid $base-color;
    &.self {
      background-color: lighten($secondary-color, 15%);
    }
  }
  .pc-answers {
    border: 2px solid $secondary-color;
    border-radius: 0.25rem 1.5rem 0.25rem 1.5rem;
    box-shadow: $shadow;
    background-color: $tertiary-color;
    &.self {
      background-color: rgba(white, 0.3);
      border: 2px solid lighten($secondary-color, 15%);
    }
  }
}

.winner {
  &.first {
    background-color: rgba(#F1BA23, 1);
    width: 95%;
    font-size: 1.5rem;
    margin-inline: 1rem;
  }
  &.second {
    background-color: rgba(#999EA3, 1);
    width: 95%;
    font-size: 1.25rem;
  }
  &.third {
    background-color: rgba(#B1715D,1);
    width: 95%;
    font-size: 1rem;
  }
  &.loser {
    width: 75%;
  }
}

.winnerFont {
  font-size: 2rem;
  font-family: "Georgia";
  // font-style: italic;
  // font-weight: bold;
  color: #f1ba23;
}

.firstPlace {
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  padding-bottom: 2px;

}
.firstMedal {
  color: #f1ba23;
  // margin-left:35px;
}
.secondPlace {
  width: 90%;
  height: 100%;
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 2px;
  margin-top: 30px;
  // margin:0px;
  // padding:0px;
  // border: 0px;
}
.secondMedal {
  color: #999ea3;
  // border: 2px solid $secondary-color;
}
.thirdPlace {
  width: 80%;
  display: flex;
  justify-content:center;
  align-items: center;
  padding-bottom: 40px;
}
.thirdMedal {
  color: #b1715d;
}

.finalTitle {
  font-size:80px;
  font-family: Courier, monospace;
}

.exit-button {
  z-index: 2;
  /* width: 1000px; */
}

.tick {
  height: 100px;
  margin-left:1000px
}

.timerCircle {
  background: #2c2e2e;
  height:3.5rem;
  width:3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 2px;
  border-color: #167e5b;
  border-radius:50%;
  color:#fcfcfc;
  &.dangerEven {
    background-color: rgba(#751313,1);
    color:#ffffff;
  }
  &.dangerOdd {
    background-color: rgba(#ca1111,1);
    color:#ffffff;
  }
  // margin-bottom: 20px;
}


// --UTILITY CLASSES--

.wrapper {
  // border: 1px solid red;
  width: Min(95vw, 50rem);
}

.fontSizeXLarge {
  font-size: calc(2rem + 1.5vw);
}
.fontSizeLarge {
  font-size: calc(1.25rem + 1vw);
}
.fontSizeMedium {
  font-size: calc(1rem + 0.75vw);
}
.fontSizeSmall {
  font-size: calc(0.75rem + 0.5vw);
}

.answerFont {
  font-size: calc(1rem + 0.65vw);
  font-style: italic;
  margin-bottom:1.2rem;
}

.gapSize {
  gap: calc(-5px + 4vw);
}
.gapSizeSmall {
  gap: calc(-5px + 2vw);
}

// --ANIMATIONS--

@keyframes buttonDrop {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(0.9);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes createBtnAnim {
  0% {transform: rotate(none);}
  1% {
    color: $invisible-color;
    width: 13ch;
    border-radius: 0.75rem;
  }
  2% {width: 5ch;}
  3% {border-top: 5px solid $secondary-color;}
  4% {
    border-radius: 50%;
    border-top: 5px solid white;
    transform: none;
  }
  100% {
    color: $invisible-color;
    width: 5ch;
    border-radius: 50%;
    border-top: 5px solid white;
    transform: rotate(15000deg);
  }

}
/* Customize the label (the container) */
.container {
  position: relative;
  padding-left: 2.7rem;
  // margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  // border-radius: 2px;

}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  left: 0%;
  height: 130%;
  width: 85%;
  border-radius: 6px;
  margin-left: 1rem;
  margin-top: 0px;
  background-color: #eee;
}

.container:hover input ~ .checkmark {
  background-color: rgb(223, 250, 229);
}

.container input:checked ~ .checkmark {
  background-color: #ffffff;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 30%;
  top: 2%;
  width: 35%;
  height: 75%;
  border: solid #167e5b;
  border-width: 0 5px 5px 0;
  border-radius: 3px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.customFont {
  font-family: 'Georgia'
}
