@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  color: white;
}

.bg {
  background-color: #1a1919;
}

/*

  --Components--

  navbar

  mainBtn
  mcqBtn
  activeBtn

  questionInput
  questionSubmit

  playerAnswer
  playerScore

  playerCard

  winner

  --Utility Classes--

  wrapper

  fontSizelarge
  fontSizeMedium
  fontSizeSmall
  answerFont

  gapSize
  gapSizeSmall

  --Animations--

  buttonDown
  createBtnAnim

  --container stuff--
  (angus) :)

*/
.navbar {
  background-color: #d4af0a;
  position: fixed;
  width: 102vw;
  height: 4.75rem;
  left: -1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid black;
  -webkit-box-shadow: 0 1px 5px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 5px 5px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.navbar:hover {
  cursor: pointer;
}

.mainBtn {
  width: 13ch;
  height: 7ch;
  border-radius: 0.75rem;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #d4af0a;
  -webkit-box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.8), 0 0 0 #d4af0a inset;
          box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.8), 0 0 0 #d4af0a inset;
  outline: 1px solid rgba(0, 0, 0, 0.6);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.mainBtn.buttonDrop {
  -webkit-animation: buttonDrop .5s ease-in-out;
          animation: buttonDrop .5s ease-in-out;
}

.mainBtn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.mcqBtn {
  width: 100%;
  height: 100%;
  border-radius: 0.75rem;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #d4af0a;
  -webkit-box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.8);
          box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.8);
  outline: 1px solid rgba(0, 0, 0, 0.6);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.mcqBtn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.activeBtn {
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  border: 2px solid rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0.1rem 0.1rem 0.4rem black, 0 0 0 7rem #d4af0a inset;
          box-shadow: 0.1rem 0.1rem 0.4rem black, 0 0 0 7rem #d4af0a inset;
}

.createBtn {
  position: relative;
  width: 13ch;
  height: 5ch;
  border-radius: 0.75rem;
  border: 5px solid #d4af0a;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0 0 0 5rem #d4af0a inset;
          box-shadow: 0 0 0 5rem #d4af0a inset;
  outline: 2px solid rgba(0, 0, 0, 0.4);
}

.createBtn.createBtnAnim {
  -webkit-animation: createBtnAnim 20s linear;
          animation: createBtnAnim 20s linear;
}

.questionInput {
  width: 25ch;
  height: 7ch;
  padding-left: 1rem;
  border-radius: 0.5rem;
  border: 2px solid #d4af0a;
  outline: 1px solid black;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  -webkit-box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.8), 0 0 0 #d4af0a inset;
          box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.8), 0 0 0 #d4af0a inset;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.questionInput:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.questionInput:focus {
  background-color: #d4af0a;
  border: 2px solid black;
  -webkit-box-shadow: 0.1rem 0.1rem 0.4rem black, 18rem 0 0 #d4af0a inset;
          box-shadow: 0.1rem 0.1rem 0.4rem black, 18rem 0 0 #d4af0a inset;
}

.questionInput::-webkit-input-placeholder {
  color: white;
  opacity: .3;
  font-style: italic;
}

.questionInput:-ms-input-placeholder {
  color: white;
  opacity: .3;
  font-style: italic;
}

.questionInput::-ms-input-placeholder {
  color: white;
  opacity: .3;
  font-style: italic;
}

.questionInput::placeholder {
  color: white;
  opacity: .3;
  font-style: italic;
}

.questionInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.questionSubmit {
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: 2px solid #d4af0a;
  outline: 1px solid black;
  background-color: #d4af0a;
  width: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.8);
          box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.8);
}

.questionSubmit:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.playerAnswer,
.playerScore {
  background-color: rgba(255, 255, 255, 0.2);
  width: 80%;
  outline: 2px solid #d4af0a;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.8);
          box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.8);
}

.playerAnswer .name,
.playerScore .name {
  font-weight: bold;
}

.playerAnswer p,
.playerScore p {
  padding: 0.5rem;
}

.playerCard .pc-lobby {
  border-radius: 0.25rem 1.5rem 0.25rem 1.5rem;
  -webkit-box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.8);
          box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.8);
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #d4af0a;
}

.playerCard .pc-lobby .pc-lobby-name {
  background-color: rgba(188, 155, 9, 0.6);
  width: 80%;
}

.playerCard .pc-lobby .pc-lobby-name.self {
  background-color: rgba(244, 205, 29, 0.6);
}

.playerCard .pc-lobby.self {
  background-color: rgba(255, 255, 255, 0.3);
}

.playerCard .pc-answers-name {
  background-color: #d4af0a;
  border-bottom: 2px solid #1a1919;
}

.playerCard .pc-answers-name.self {
  background-color: #f5d235;
}

.playerCard .pc-answers {
  border: 2px solid #d4af0a;
  border-radius: 0.25rem 1.5rem 0.25rem 1.5rem;
  -webkit-box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.8);
          box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.8);
  background-color: rgba(255, 255, 255, 0.2);
}

.playerCard .pc-answers.self {
  background-color: rgba(255, 255, 255, 0.3);
  border: 2px solid #f5d235;
}

.winner.first {
  background-color: #f1ba23;
  width: 95%;
  font-size: 1.5rem;
  margin-inline: 1rem;
}

.winner.second {
  background-color: #999ea3;
  width: 95%;
  font-size: 1.25rem;
}

.winner.third {
  background-color: #b1715d;
  width: 95%;
  font-size: 1rem;
}

.winner.loser {
  width: 75%;
}

.winnerFont {
  font-size: 2rem;
  font-family: "Georgia";
  color: #f1ba23;
}

.firstPlace {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 2px;
}

.firstMedal {
  color: #f1ba23;
}

.secondPlace {
  width: 90%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 2px;
  margin-top: 30px;
}

.secondMedal {
  color: #999ea3;
}

.thirdPlace {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 40px;
}

.thirdMedal {
  color: #b1715d;
}

.finalTitle {
  font-size: 80px;
  font-family: Courier, monospace;
}

.exit-button {
  z-index: 2;
  /* width: 1000px; */
}

.tick {
  height: 100px;
  margin-left: 1000px;
}

.timerCircle {
  background: #2c2e2e;
  height: 5rem;
  width: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-width: 2px;
  border-color: #167e5b;
  border-radius: 50%;
  color: #fcfcfc;
}

.timerCircle.dangerEven {
  background-color: #751313;
  color: #ffffff;
}

.timerCircle.dangerOdd {
  background-color: #ca1111;
  color: #ffffff;
}

.finalAnimations {
  z-index: 2;
}

.logoCreatePage {
  margin-top: 0;
  height: 100px;
  width: 150px;
  position: static;
  margin-bottom: 10px;
}

.logoQuizOptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80px;
  margin-left: 50%;
  margin-right: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.logoFinal {
  margin-top: 1rem;
  width: 5rem;
  z-index: 1;
}

.wrapper {
  width: Min(95vw, 50rem);
}

.fontSizeXLarge {
  font-size: calc(2rem + 1.5vw);
}

.fontSizeLarge {
  font-size: calc(1.25rem + 1vw);
}

.fontSizeMedium {
  font-size: calc(1rem + 0.75vw);
}

.fontSizeSmall {
  font-size: calc(0.75rem + 0.5vw);
}

.answerFont {
  font-size: calc(1rem + 0.65vw);
  font-style: italic;
  margin-bottom: 1.2rem;
}

.gapSize {
  gap: calc(-5px + 4vw);
}

.gapSizeSmall {
  gap: calc(-5px + 2vw);
}

@-webkit-keyframes buttonDrop {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  30% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  70% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes buttonDrop {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  30% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  70% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes createBtnAnim {
  0% {
    -webkit-transform: rotate(none);
            transform: rotate(none);
  }
  1% {
    color: rgba(212, 175, 10, 0);
    width: 13ch;
    border-radius: 0.75rem;
  }
  2% {
    width: 5ch;
    border-radius: 50%;
    border-top: 5px solid #d4af0a;
    -webkit-transform: none;
            transform: none;
  }
  3% {
    border-top: 5px solid white;
    -webkit-box-shadow: 0 0 0 5rem #d4af0a inset;
            box-shadow: 0 0 0 5rem #d4af0a inset;
  }
  100% {
    color: rgba(212, 175, 10, 0);
    width: 5ch;
    border-radius: 50%;
    border-top: 5px solid white;
    -webkit-transform: rotate(10000deg);
            transform: rotate(10000deg);
  }
}

@keyframes createBtnAnim {
  0% {
    -webkit-transform: rotate(none);
            transform: rotate(none);
  }
  1% {
    color: rgba(212, 175, 10, 0);
    width: 13ch;
    border-radius: 0.75rem;
  }
  2% {
    width: 5ch;
    border-radius: 50%;
    border-top: 5px solid #d4af0a;
    -webkit-transform: none;
            transform: none;
  }
  3% {
    border-top: 5px solid white;
    -webkit-box-shadow: 0 0 0 5rem #d4af0a inset;
            box-shadow: 0 0 0 5rem #d4af0a inset;
  }
  100% {
    color: rgba(212, 175, 10, 0);
    width: 5ch;
    border-radius: 50%;
    border-top: 5px solid white;
    -webkit-transform: rotate(10000deg);
            transform: rotate(10000deg);
  }
}

/* Customize the label (the container) */
.container {
  position: relative;
  padding-left: 2.7rem;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  left: 0%;
  height: 130%;
  width: 85%;
  border-radius: 6px;
  margin-left: 1rem;
  margin-top: 0px;
  background-color: #eee;
}

.container input ~ .checkmark {
  background-color: rgba(255, 255, 255, 0);
}

.container input:checked ~ .checkmark {
  background-color: #ffffff00;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 30%;
  top: 2%;
  width: 35%;
  height: 75%;
  border: solid #1dc78e;
  border-width: 0 5px 5px 0;
  border-radius: 3px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.customFont {
  font-family: 'Georgia';
}
/*# sourceMappingURL=globals.css.map */